.cartItem {
    display: inline-block;
    background: #FF9801;
    color: #ffffff;
    padding: 20px 30px;
    margin: 0 30px;
    border-radius: 13px;
    font-size: 25px;
}

.cartItem-Btn{
    display: inline-block;
    background: #000;
    color: #ffffff;
    padding: 20px 30px;
    margin: 0 30px;
    border-radius: 13px;font-size: 25px;
}